.form-container {
  background-color: #ffffff;
  padding: 1rem;
  border: none;
  border-top: 4px solid #330066;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

@media screen and (max-width: 767px) {
  .form-container {
    margin-top: 2rem;
  }
}

.form-heading {
  text-align: center;
  color: #333333;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .form-heading {
    font-size: 1.2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input,
.form-select {
  margin-bottom: 1rem;
  padding: 0.6rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.2rem;
}

.form-container .btn-violet {
  background-color: #330066;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.form-container .btn-violet:hover {
  color: #ffffff;
  background-color: #8000ff;
}
